<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:tal="http://xml.zope.org/namespaces/tal">
<head>
  <title>Troll</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <meta name="keywords" content="python web application" />
  <meta name="description" content="pyramid web application" />
  <link rel="shortcut icon" href="${request.static_url('troll:static/favicon.ico')}" />
  <link rel="stylesheet" href="${request.static_url('troll:static/style.css')}" type="text/css" media="screen" charset="utf-8" />
  <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Neuton|Nobile:regular,i,b,bi&amp;subset=latin" type="text/css" media="screen" charset="utf-8" />-->
  <!--[if lte IE 6]>
  <link rel="stylesheet" href="${request.static_url('troll:static/ie6.css')}" type="text/css" media="screen" charset="utf-8" />
  <![endif]-->
</head>
<body>
  
    <div id="content">
      ${next.body()}
    </div>


  <div id="footer">
    <center><div class="footer">&copy;2011</div></center>
  </div>
</body>
</html>

<%def name="createform(c, form)">
<% link = request.resource_url(c)%>
	 <form method="POST" action="${link}@@add">
	  <div> ${form.name.label}: ${form.name(size=50)}</div>
	  <div> ${form.content.label}: ${form.content(rows=5, cols=50)}</div>
	  ${form.captcha}
	  <input type="submit" value="Submit!"/>
	 </form>
</%def>
